<app-loader *ngIf="showLoader"></app-loader>
<div class="panel-body">
  <div class="col-md-3" style="padding: 0!important;"></div>

  <div class="panel panel-success text-center col-md-6">
    <div class="panel-heading">
      ورود به سیستم
    </div>
    <div class="panel-body">
      <label>نام کاربری</label>
      <input class="form-control" type="text" (change)="onChangeUser($event.target.value)" required>
      <label>رمز عبور</label>
      <input class="form-control" type="password" (change)="onChangePass($event.target.value)" required>
      <br>
      <button class="btn-success btn-lg" (click)="login()"> ورود</button>
    </div>
  </div>
  <div class="col-md-3" style="padding: 0!important;"></div>
</div>
