<app-loader *ngIf="showLoader"></app-loader>

<div class="panel panel-success">
  <div class="panel-heading"><h3>اضافه کردن کارشناس</h3></div>
  <div class="panel-body text-center">
    <div class="container">
      <div class="panel-body">
        <div class="col-md-6 col-md-offset-3">لطفا استان را انتخاب کنید</div>
        <div class="col-md-6 col-md-offset-3">
          <select class="form-control" (change)="getAllTownShips($event.target.value)">
            <option *ngFor="let item of provinces" [value]="item.id">{{item.title}}</option>
          </select>
        </div>
        <div class="col-md-6 col-md-offset-3">لطفا شهرستان را انتخاب کنید</div>
        <div class="col-md-6 col-md-offset-3">
          <select class="form-control" (change)="getAllServiceCenters($event.target.value)">
            <option *ngFor="let item of townShips" [value]="item.id">{{item.title}}</option>
          </select>
        </div>
        <div class="col-md-6 col-md-offset-3">لطفا مرکز خدمات را انتخاب کنید</div>
        <div class="col-md-6 col-md-offset-3">
          <select class="form-control" (change)="setServiceCenter($event.target.value)">
            <option *ngFor="let item of serviceCenters" [value]="item.id">{{item.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3 panel-body">
      <input class="form-control" type="text" (change)="onChangeF($event.target.value)"
             placeholder="نام کارشناس را وارد کنید">
      <input class="form-control" type="text" (change)="onChangeL($event.target.value,i)"
             placeholder="نام خانوادگی کارشناس را وارد کنید">
      <input class="form-control" type="text" (change)="onChangeC($event.target.value,i)"
             placeholder="کد ملی را وارد کنید">
      <input class="form-control" type="text" (change)="onChangeE($event.target.value,i)"
             placeholder="ایمیل را وارد کنید">
      <input class="form-control" type="text" (change)="onChangeP($event.target.value,i)"
             placeholder="شماره تلفن را وارد کنید">
      <input class="form-control" type="text" (change)="onChangePass($event.target.value,i)"
             placeholder="رمز عبور را وارد کنید">
      </div>
      <button class="btn btn-success col-sm-2 col-sm-offset-5" (click)="addExperts()"> ثبت نهایی</button>
    </div>
  </div>
</div>
