<div class="panel panel-success">
  <div class="panel-heading"><h3>لیست کارشناسان</h3></div>
  <div class="panel-body text-center">
    <div class="container">
      <div class="panel-body">
        <div class="form-group">
          <div class="col-md-12">لطفا استان را انتخاب کنید</div>
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control" (change)="getAllTownShips($event.target.value)">
              <option *ngFor="let item of provinces" [value]="item.id">{{item.title}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">لطفا شهرستان را انتخاب کنید</div>
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control" (change)="getAllServiceCenters($event.target.value)">
              <option *ngFor="let item of townShips" [value]="item.id">{{item.title}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">لطفا مرکز خدمات را انتخاب کنید</div>
          <div class="col-md-6 col-md-offset-3">
            <select class="form-control" (change)="getAllExperts($event.target.value)">
              <option *ngFor="let item of serviceCenters" [value]="item.id">{{item.title}}</option>
            </select>
          </div>
        </div>
      </div>
      <table *ngIf="experts" class="tabel table-bordered table-striped table-condensed table-hover text-center"
             style="width: 85%">
        <tr>
          <td>شماره</td>
          <td>نام</td>
          <td>نام خانوادگی</td>
          <td>کد ملی</td>
          <td>شماره تلفن </td>
          <td>عملیات</td>
        </tr>
        <tr *ngFor="let item of experts;let i = index">
          <td>{{i+1}}</td>
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.nationalCode}}</td>
          <td>{{item.phoneNumber}}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="getOneExpert(item.id)" data-toggle="modal" attr.data-target="#{{i}}">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteExpert(item.nationalCode)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

